@inherits LayoutComponentBase

@using HomeCloud.Client.Common.Model
@using HomeCloud.Map.Client

@inject NavigationManager Navigation

@if (isInApp)
{
    <div class="sidebar">
        <NavMenu App="SelectedApp" />
    </div>
}

<div class="main">
    <div class="top-row px-4 auth">
        <LoginDisplay />
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    private bool isInApp = false;

    private HomeCloud.Client.Common.Model.App SelectedApp;

    protected override void OnInitialized()
    {
        Navigation.LocationChanged += (sender, e) =>
        {
            isInApp = e.Location.Contains("/app/");
        };
    }
}