@using Microsoft.AspNetCore.Components.Web

<button type="button" class="btn" @onclick="OnClick">
    <ion-icon name="@Icon" id="buttonIcon">
    </ion-icon>
</button>

<style>
    #buttonIcon {
        font-size: @($"{ Size }px");
        color: @(Color);
    }
</style>

@code {
    [Parameter] public string Icon { get; set; }

    [Parameter] public int Size { get; set; }

    [Parameter] public string Color { get; set; }

    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }
}
