@page "/"

@inject NavigationManager Navigation

<div class="container">
    <AuthorizeView>
        <Authorized>
            <h1>Hello, @context.User.Identity.Name!</h1>
        </Authorized>
        <NotAuthorized>
            <h1>Hello, Guest</h1>
        </NotAuthorized>
    </AuthorizeView>

    Welcome to your Home Cloud.

    <div class="card-deck mb-3 text-center" style="margin-top: 50px">
        @foreach (var app in Apps.AppStartups.Select(a => a.App))
        {
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">@app.Name</h4>
                </div>
                <div class="card-body">
                    <p>@app.Description</p>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary" @onclick="() => Navigate(app)">Start</button>
                </div>
            </div>
        }
    </div>
</div>

@code {
    private void Navigate(HomeCloud.Client.Common.Model.App app)
    {
        Navigation.NavigateTo(app.NavigationItems.First().Link);
    }
}