@page "/"

@using System.Drawing
@using BlazorLeaflet
@using BlazorLeaflet.Models
@inject IJSRuntime jsRuntime

<h1>Blazor Leaflet </h1>

<div class="form-inline m-2">
    <div class="form-group mb-2">
        <label>Lat </label>
        <input class="form-control ml-2 mr-2" placeholder="city name" @bind="Lat" disabled />
    </div>

    <div class="form-group mb-2">
        <label>Lng </label>
        <input class="form-control ml-2 mr-2" placeholder="city name" @bind="Lng" disabled />
    </div>
</div>

<div style="height: 700px; width: 1200px;">
    <LeafletMap Map="_map" InitialPosition="_startAt" InitialZoom="4.8f" />
</div>