@page "/settings"

@using HomeCloud.Maps.Shared
@attribute [Authorize]

@inject IHttpService httpService

<h3>Settings</h3>

<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Komoot User Id</label>
    <input class="form-control" aria-describedby="emailHelp" @bind="@userSettings.KomootUserId" />
</div>
<button class="btn btn-primary" @onclick="@OnSubmitAsync">Submit</button>

<div class="mb-3">
    <label>Cookie</label>
    <input class="form-control" @bind="@komootToursRequest.Cookies" />
</div>
<button @onclick="OnUpdateKommotTourAsync">Update Komoot Tours</button>

@code {
    private UserSettingsDto userSettings = new UserSettingsDto();
    private KomootToursRequest komootToursRequest = new KomootToursRequest();


    protected override async Task OnInitializedAsync()
    {
        var result = await httpService.GetAsync<UserSettingsDto>("api/UserSettings");
        userSettings = result.Response;
    }

    private async Task OnSubmitAsync()
    {
        await httpService.PostAsync("api/UserSettings", userSettings);
    }

    private async Task OnUpdateKommotTourAsync()
    {
        await httpService.PatchAsync("api/Komoot", komootToursRequest);
    }
}
