@page "/tours"

@attribute [Authorize]

@inject IWebAPIClient Client
@inject NavigationManager Navigation

<h3>Tours</h3>

@foreach (var tour in tours)
{
    <MudPaper Elevation="3" Style="margin: 10px">
        <MudButton Variant="Variant.Text" Style="margin: 10px" OnClick="@(() => OnTourClicked(tour.TourId))">
            @tour.Name
        </MudButton>
    </MudPaper>
}

@code {
    private IEnumerable<WebApi.TourInfoDto> tours = new List<WebApi.TourInfoDto>();

    protected override async Task OnInitializedAsync()
    {
        tours = await Client.SendAsync(x => x.GetAllTourInfosAsync());
    }

    private void OnTourClicked(string tourId)
    {
        Navigation.NavigateTo($"/tours/{tourId}");
    }
}
